{% extends 'user/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


	<!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>	
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-6 col-md-6 ">
                    <h6 class="text-white ">Need a ride? just call</h6>
                    <h1 class="text-uppercase">
                        911 999 911				
                    </h1>
                    <p class="pt-10 pb-10 text-white">
                        Whether you enjoy city breaks or extended holidays in the sun, you can always improve your travel experiences by staying in a small.
                    </p>
                    <a href="#" class="primary-btn text-uppercase">Call for taxi</a>
                </div>
                <div class="col-lg-4  col-md-6 header-right">
                    <h4 class="pb-30">Book Your Texi Online!</h4>
                    <form class="form" method="post" action="">
                        {% csrf_token %}
                        <div class="from-group">
                            <input class="form-control txt-field" type="text" name="name" placeholder="name" value="{{ user.first_name }}"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'">
                            <input class="form-control txt-field" type="text" name="mobile" placeholder="Mobile" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'">
                            <input class="form-control txt-field" type="hidden" name="id" value="{{ driver.id }}" placeholder="Mobile" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'">
                        </div>								
                        <div class="form-group">
                               <div class="default-select" id="default-select" >
                                <select name="from_loc">
                                    <option value="" disabled selected hidden>From Destination</option>
                                    {% for i in loc %}
                                    <option value="{{ i.location }}">{{ i.location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> 
                        <div class="form-group">
                               <div class="default-select" id="default-select2">
                                <select name="to_loc">
                                    <option value="" disabled selected hidden>To Destination</option>
                                    {% for i in loc %}
                                    <option value="{{ i.location }}">{{ i.location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>	
                                                    <input class="form-control txt-field" type="text" name="car_type" placeholder="name" value="{{ driver.veh_type }}"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'">

                        <div class="form-group">
                            <input class="form-control txt-field" type="time" name="time" placeholder="time" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone number'">
                            <div class="input-group dates-wrap">                                              
                                <input class="dates form-control" name="date"  placeholder="Date" type="date">                        
                                {% comment %} <div class="input-group-prepend">
                                    <span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
                                </div>											 {% endcomment %}
                            </div>
                        </div>							    
                        <div class="form-group"> 

                                <button type="submit" class="btn btn-default btn-lg btn-block text-center text-uppercase">Book Trip</button>

                        </div>
                    </form>
                </div> 
            </div>
        </div>					
    </section> 
    <!-- End banner Area -->	


{% endblock %}